
# name: CI/CD Pipeline with self hosted runner

# on:
#   push:
#     branches:
#       - main
#     paths-ignore:
#       - "kubernetes/deployments.yaml"
#   pull_request:
#     branches: [main]

# jobs:
#   test:
#     name: Unit Testing
#     runs-on: self-hosted
#     timeout-minutes: 3
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Set up Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: "22.17"

#       - name: Enable Corepack
#         run: corepack enable

#       - name: Install deps
#         run: yarn install


#       - name: Install dependencies
#         run: yarn

#       - name: Run tests
#         run: yarn test || echo 'No tests found'

#   linting:
#     name: Linting
#     runs-on: self-hosted
#     timeout-minutes: 3
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2

#       - name: Set up Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: "22.17"
#           cache: "yarn"

#       - name: Install dependencies
#         run: yarn

#       - name: Run ESLint
#         run: yarn lint

#   build:
#     name: Build applicatoin
#     runs-on: self-hosted
#     timeout-minutes: 3
#     needs: [test, linting]
#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v2

#       - name: Set up Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: "22.17"
#           cache: "yarn"

#       - name: Install dependencies
#         run: yarn

#       - name: Build the project
#         run: yarn build

#       - name: Upload build artifacts
#         uses: actions/upload-artifact@v4
#         with:
#           name: build-artifacts
#           path: dist/

#   docker:
#     name: Docker build and push
#     runs-on: self-hosted
#     timeout-minutes: 15
#     needs: [build]
#     env:
#       REGISTRY: docker.io
#       IMAGE_NAME: ${{ github.repository }}

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Download built artifacts
#         uses: actions/download-artifact@v4
#         with:
#           name: build-artifacts
#           path: dist/

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to Docker hub
#         uses: docker/login-action@v3
#         with:
#           registry: ${{ env.REGISTRY }}
#           username: ${{ secrets.Docker_USERNAME }}
#           password: ${{ secrets.Docker_PASSWORD }}

#       - name: Extract meta data
#         id: meta
#         uses: docker/metadata-action@v5
#         with:
#           images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
#           tags: |
#             type=sha,format=long
#             type=ref,event=branch
#             latest

#       - name: Build and push Docker image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: false
#           tags: ${{ steps.meta.outputs.tags }}
#           labels: ${{ steps.meta.outputs.labels }}
#           load: true

#       - name: Run Trivy vulnerability scanner
#         uses: aquasecurity/trivy-action@master
#         with:
#           image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:sha-${{github.sha}}
#           format: "table"
#           exit-code: "1"
#           ignore-unfixed: true
#           vuln-type: "os,library"
#           severity: "CRITICAL,HIGH"

#       - name: Push docker image to Dockerhub
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: ${{ steps.meta.outputs.tags }}
#           labels: ${{ steps.meta.outputs.labels }}
