name: CI/CD Pipeline with self hosted runner

on:
  push:
    branches:
      - main
    paths-ignore:
      - "kubernetes/deployments.yaml"
  pull_request:
    branches: [main]

jobs:
  check-runner:
    name: check-runner
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    outputs:
      available: ${{ steps.check.outputs.available }}

    steps:
      - id: check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          runners=$(curl -s \
            -H "Authorization: Bearer $GH_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/actions/runners)

          online=$(echo "$runners" | jq '[.runners[]? | select(.status=="online")] | length')

          echo "Online runners: $online"

          if [ "$online" -gt 0 ]; then
            echo "available=true" >> $GITHUB_OUTPUT
          else
            echo "available=false" >> $GITHUB_OUTPUT
          fi

  test:
    if: needs.check-runner.outputs.available == 'true'
    needs: check-runner
    name: Unit Testing
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run tests
        run: yarn test || echo 'No tests found'

  linting:
    if: needs.check-runner.outputs.available == 'true'
    needs: check-runner
    name: Linting
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run ESLint
        run: yarn lint

  build:
    if: needs.check-runner.outputs.available == 'true'
    name: Build applicatoin
    runs-on: self-hosted
    needs: [check-runner, test, linting]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Build the project
        run: yarn build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

  docker:
    if: needs.check-runner.outputs.available == 'true'
    name: Docker build and push
    runs-on: self-hosted
    needs: [check-runner, build]
    env:
      REGISTRY: docker.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download built artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.Docker_USERNAME }}
          password: ${{ secrets.Docker_PASSWORD }}

      - name: Extract meta data
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=ref,event=branch
            latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          load: true

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:sha-${{github.sha}}
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Push docker image to Dockerhub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
