name: CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths-ignore:
      - "kubernetes/deployments.yaml"
  pull_request:
    branches: [main]

jobs:
  test:
    name: Unit Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run tests
        run: yarn test || echo 'No tests found'

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run ESLint
        run: yarn lint

  build:
    name: Build applicatoin
    runs-on: ubuntu-latest
    needs: [test, linting]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Build the project
        run: yarn build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
