name: CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths-ignore:
      - "kubernetes/deployments.yaml"
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  test:
    name: Unit Testing
    runs-on: ubuntu-latest # "self-hosted" for self hosted runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run tests
        run: yarn test || echo 'No tests found'
      - name: debugging
        run: echo "ref => ${{ github.ref }} event => ${{ github.event_name }}"


  linting:
    name: Linting
    runs-on: ubuntu-latest # "self-hosted" for self hosted runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run ESLint
        run: yarn lint

  build:
    name: Build applicatoin
    runs-on: ubuntu-latest # "self-hosted" for self hosted runner
    needs: [test, linting]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.17"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Build the project
        run: yarn build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

  docker:
    name: Docker build and push
    runs-on: ubuntu-latest # "self-hosted" for self hosted runner
    needs: [build]
    env:
      REGISTRY: docker.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download built artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.Docker_USERNAME }}
          password: ${{ secrets.Docker_PASSWORD }}

      - name: Extract meta data
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=ref,event=branch
            latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          load: true

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:sha-${{github.sha}}
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Push docker image to Dockerhub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Set image tag output
        id: set_output
        run: | 
          echo "image_tag=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
          
  
  update-k8s:
    name: Update kubernetes deployments
    runs-on: ubuntu-latest
    needs: [docker]
    if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Setup Git Config
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      
      - name: Update kubernetes deployments file
        env: 
          IMAGE_TAG: sha-${{ github.sha }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          NEW_IMAGE="${GITHUB_REPOSITORY}:${IMAGE_TAG}"

          sed -i "s|image: ${GITHUB_REPOSITORY}.*|image: ${NEW_IMAGE}|g" kubernetes/deployment.yaml

          echo "Updated deployment to use image: ${NEW_IMAGE}"

          grep -A0 "image:" kubernetes/deployment.yaml
      
      - name: Commit and push changes
        run: |
          git add kubernetes/deployment.yaml

          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          git commit -m "Update deployment image [skip ci]"
          git push

